.progress {
  overflow: visible;
  background: inherit !important;
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
  padding-left: 35px;
}
.circle {
  display: inline-block;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #656567;
  vertical-align:top;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -1px 17px -2px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  top:16px;
  vertical-align:top;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #262626;
  font-size: 17px;
}
.progress .circle .title {
  color: #262626;
  font-size: 13px;
  line-height: 18px;
  margin-left: -30px;
  display: block;
  width: 100px;
  margin-top: 5px;
}
/* Done / Active */

.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}
.progress .circle.active .title {
  color: #0c95be;
}
.address-card {
  text-align: left;
  margin: 20px !important;
  left: -60px;
  width: 200px;
  color: #363637;
  font-size: 13px;
  display: inline-block;
}
