<div class="card">
  <div class="card-header">
    <form class="form-inline" novalidate [formGroup]="tripForm" (ngSubmit)="find()" autocomplete="off">
      <div formGroupName="stations">
        <mat-form-field class="mr-5">
          <input type="text" placeholder="Departure station" matInput formControlName="stationFrom"
                 [matAutocomplete]="stationFromAutocomplete"
                 (blur)="checkStationExists(stationFrom, filteredStationsFrom)">
          <mat-autocomplete autoActiveFirstOption #stationFromAutocomplete>
            <mat-option *ngFor="let station of filteredStationsFrom" [value]="station">
              {{station}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="stations.invalid">
            Enter departure station!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input type="text" placeholder="Arrival station" matInput formControlName="stationTo"
                 [matAutocomplete]="stationToAutocomplete" (blur)="checkStationExists(stationTo, filteredStationsTo)">
          <mat-autocomplete autoActiveFirstOption #stationToAutocomplete>
            <mat-option *ngFor="let station of filteredStationsTo" [value]="station">
              {{station}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="stationTo.errors?.required">
            Enter arrival station!
          </mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="times">
        <mat-form-field class="mr-5">
          <input type="text" placeholder="Time from" matInput #dateTimeFromInput formControlName="dateTimeFrom">
          <mat-error *ngIf="dateTimeFrom.errors?.required">
            Enter time from.
          </mat-error>
          <mat-error *ngIf="dateTimeFrom.errors?.beforeMin">
            Date is too low
          </mat-error>
          <mat-error *ngIf="dateTimeFrom.errors?.afterMax">
            Date is too big
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mr-5">
          <input #dateTimeToInput type="text" placeholder="Time to" matInput formControlName="dateTimeTo">
          <mat-error *ngIf="dateTimeTo.errors?.required">
            Enter time to.
          </mat-error>
          <mat-error *ngIf="dateTimeTo.errors?.beforeMin">
            Date is too low
          </mat-error>
          <mat-error *ngIf="dateTimeTo.errors?.afterMax">
            Date is too big
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mr-5" formGroupName="transfers">
        <mat-checkbox labelPosition="before" formControlName="findWithTransfers">
          Find with transfers
        </mat-checkbox>
        <mat-form-field *ngIf="findWithTransfers.value">
          <input type="number" [min]="minTransferValue" [max]="maxTransferValue" step="1" matInput
                 placeholder="Max transfers count"
                 formControlName="maxTransferCount">
          <mat-error *ngIf="maxTransferCount.errors?.required">
            Enter maximum transfers count.
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Find</button>
    </form>
  </div>
  <div class="card-body">
    <div *ngIf="message && message !== ''" class="alert alert-primary">
      {{message}}
    </div>
    <div class="in-center" *ngIf="searching">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!showWithTransfers">
      <app-departure-list [trips]="trips"></app-departure-list>
    </div>
    <div *ngIf="showWithTransfers">
      <div class="list-group">
        <div *ngFor="let trips of tripsWithTransfers" class="list-group-item list-group-item-info">
          <app-departure-list [trips]="trips"></app-departure-list>
        </div>
      </div>
    </div>
  </div>
</div>
