<div class="card">
  <div class="card-header">
    <dl class="row" *ngIf="tripInfo">
      <dt class="col-sm-2">Departure station:</dt>
      <dd class="col-sm-10">{{tripInfo.stationFrom}}</dd>

      <dt class="col-sm-2">Departure time:</dt>
      <dd class="col-sm-10">{{tripInfo.dateTimeFromAsString}}</dd>

      <dt class="col-sm-2">Arrival station:</dt>
      <dd class="col-sm-10">{{tripInfo.stationTo}}</dd>

      <dt class="col-sm-2">Arrival time:</dt>
      <dd class="col-sm-10">{{tripInfo.dateTimeToAsString}}</dd>
    </dl>
    <div [ngSwitch]="canBuyTicket">
      <button *ngSwitchCase="true" [disabled]="!chosenSeat" (click)="buyTicket()" class="btn btn-primary">
        Buy ticket!
      </button>
      <div *ngSwitchCase="false" class="alert alert-success">
        {{canNotBuyMessage}}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="pic" *ngFor="let coach of coaches" (mouseenter)="coach.active = true"
         (mouseleave)="coach.active = false">
      <div class="layer coach" [class.active]="!coach.active" style='z-index: 100;left: 0px; top: 0px;width: 761px; height: 127px; line-height: 127px;
                background-image: url("https://cdn1.tu-tu.ru/images2/train/order/car/re/coupe_normal.png")'></div>
      <div class="layer coach" [class.active]="coach.active" style='z-index: 100;left: 0px; top: 0px;width: 761px; height: 127px; line-height: 127px;
                background-image: url("https://cdn1.tu-tu.ru/images2/train/order/car/re/coupe_hover.png")'></div>
      <div class="layer"
           style="z-index: 101;left: 36px; top: 0px; width: 22px; height: 17px; line-height: 17px; text-align: center">
        <span class="content">{{coach.coachNumber}}</span>
      </div>
      <div class="layer seat"
           (click)="chooseSeat(coach, seat)"
           [class.chosen]="isChosen(coach, seat)"
           [class.engaged]="seat.engaged" [class.free]="!seat.engaged" [class.engagedByYou]="seat.engagedByYou"
           [title]="!seat.engaged ? 'Buy ticket!' : 'Seat already engaged!'"
           [ngStyle]="seat.style"
           *ngFor="let seat of coach.seats">
        <span>{{seat.seatNumber}}</span>
      </div>
    </div>
  </div>
</div>
