<div class="container col-5 ">
  <mat-form-field>
    <input id="filterInput" type="text" matInput placeholder="Stations filter"
           size="40" #filter (keyup)="0"/>
  </mat-form-field>
  <table id="stations" class="table table-striped table-bordered table-light">
    <thead>
    <tr>
      <th>Station</th>
      <th>Watch timetable</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let station of stations | contains:filter.value">
      <td>
        {{station}}
      </td>
      <td>
        <a class="btn btn-primary" routerLink="/client/departures/{{station}}">
          Watch timetable
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
