<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="list-group">
                <div class="list-group-item">
                    <form class="form-inline" name="departureForm" autocomplete="off" novalidate>
                        <div class="mt-1">
                            <input ng-model="newDeparture.stationFrom" class="autocomplete form-control mr-sm-2"
                                   ng-model-options="{ updateOn: 'blur'}"
                                   id="stationFrom" name="stationFrom" ng-blur="checkStation(departureForm.stationFrom)"
                                   placeholder="Station from"
                                   ui-validate="{same: 'notTheSame(departureForm.stationFrom, departureForm.stationTo)'}"
                                   required="required"
                                   ng-disabled="departuresInNewTrip.length !== 0"/>
                            <div ng-show='departureForm.stationFrom.$error.same || departureForm.stationTo.$error.same'
                                 class="invalid-feedback">
                                Choose different stations!
                            </div>
                            <div ng-show="departureForm.stationFrom.$dirty && departureForm.stationFrom.$error.required"
                                 class="invalid-feedback">
                                Set trip station!
                            </div>
                        </div>
                        <div class="mt-1">
                            <input ng-model="newDeparture.stationTo" class="autocomplete form-control mr-sm-2"
                                   ng-model-options="{ updateOn: 'blur'}"
                                   id="stationTo" name="stationTo" ng-blur="checkStation(departureForm.stationTo)"
                                   placeholder="Station to"
                                   ui-validate="{same: 'notTheSame(departureForm.stationFrom, departureForm.stationTo)'}"
                                   required="required"/>
                            <div ng-show="departureForm.stationTo.$dirty && departureForm.stationTo.$error.required"
                                 class="invalid-feedback">
                                Set arrival station!
                            </div>
                        </div>
                        <div class="mt-1">
                            <input ng-model="newDeparture.dateTimeFrom" class="form-control mr-sm-2"
                                   ng-model-options="{ updateOn: 'blur change.dp'}"
                                   name="dateTimeFrom"
                                   id="dateTimeFrom" placeholder="Departure time" ng-class="dateTimeFromClass.class"
                                   ui-validate="{afterNow: 'afterNow()', beforeArrival: 'beforeArrival()'}"
                                   ng-change="console.log('bla', departureForm.dateTimeFrom)"
                                   required="required"/>
                            <div ng-show="departureForm.dateTimeFrom.$dirty && (departureForm.dateTimeFrom.$error.required || departureForm.dateTimeFrom.$error.afterNow)"
                                 class="invalid-feedback">
                                Departure time must be in future!
                            </div>
                            <div ng-show="departureForm.dateTimeFrom.$dirty && departureForm.dateTimeFrom.$error.beforeArrival"
                                 class="invalid-feedback">
                                Departure time must be less then arrival time!
                            </div>
                        </div>
                        <div class="mt-1">
                            <input ng-model="newDeparture.dateTimeTo" class="form-control mr-sm-2" id="dateTimeTo"
                                   placeholder="Arrival time" ng-class="dateTimeToClass.class"
                                   ng-model-options="{ updateOn: 'blur change.dp'}"
                                   ui-validate="{afterDeparture: 'afterDeparture()'}"
                                   name="dateTimeTo"
                                   required="required"/>
                            <div ng-show="departureForm.dateTimeTo.$dirty && (departureForm.dateTimeTo.$error.afterDeparture || departureForm.dateTimeTo.$error.required)"
                                 class="invalid-feedback">
                                Arrival time must be more then trip time!
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 mt-1"
                                ng-disabled="!departureForm.$valid || departuresInNewTrip.length >= 10"
                                ng-click="addNextDeparture(newDeparture, departureForm)">Add next
                        </button>
                        <button type="button" class="btn btn-danger mr-2 mt-1"
                                ng-disabled="departuresInNewTrip.length === 0"
                                ng-click="clearTrip()">
                            Clear all
                        </button>
                        <button type="button" class="btn btn-danger mt-1" ng-disabled="departuresInNewTrip.length === 0"
                                ng-click="removeLastArrival()">
                            Remove last arrival
                        </button>
                    </form>
                </div>
                <div class="list-group-item">
                    <trip trip="newTrip"></trip>
                </div>
                <div class="list-group-item">
                    <form class="form-inline" name="tripForm" autocomplete="off" novalidate>
                        <div>
                            <input ng-model="coachCount" type="number" class="form-control mr-sm-2"
                                   id="coachCount"
                                   placeholder="Coach count" ng-style="numberInputStyle"
                                   required="required" step="1" min="1" max="10"/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary"
                                    ng-disabled="!tripForm.$valid || departuresInNewTrip.length === 0"
                                    ng-click="saveTrip(tripForm)">Save trip
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="trip in trips">
                    <div class="card">
                        <div class="card-header">
                            <button ng-disabled="trip.chosen.length !== 2" ng-click="watchPassengers(trip)"
                                    class="btn btn-primary">
                                Watch passengers
                            </button>
                            <button ng-click="deleteTrip(trip)" class="btn btn-danger">
                                Delete trip
                            </button>
                        </div>
                        <div class="card-body">
                            <trip select-station="selectStation" trip="trip"></trip>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<modal control="modalControl"></modal>
