<div class="card">
    <div class="card-body">
        <table class="table table-striped table-bordered table-light">
            <thead>
            <tr>
                <th>Departure station</th>
                <th>Arrival station</th>
                <th>Departure time</th>
                <th>Arrival time</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="departure in trip.departures" ng-init="formName='updateDepartureForm' + $index">
                <td>
                    {{departure.stationFrom}}
                </td>
                <td>
                    {{departure.stationTo}}
                </td>
                <td>
                    {{departure.dateTimeFrom}}
                </td>
                <td>
                    {{departure.dateTimeTo}}
                </td>
                <td>
                    <button type="button" class="btn btn-warning"
                            ng-click="makeEditable($index)">
                        Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<edit-departure-modal control="editDepartureControl" onerror="onerror"></edit-departure-modal>
<message-modal control="messageModalControl"></message-modal>