<div class="progress">
    <span ng-repeat="departure in trip.departures">
        <div class="circle" ng-mouseenter="departure.showFrom = true"
             ng-class="{active: (trip.chosen[0] === $index + 1) || (((trip.chosen.length === 2) && (trip.chosen[0] <= $index + 1) && (trip.chosen[1] >= $index + 1)))}"
             ng-mouseleave="departure.showFrom = false" ng-show="$first" ng-click="selectStation(trip, $index + 1)">
            <span class="label">{{$index + 1}}</span>
            <span class="title">{{departure.stationFrom}}</span>
            <div class="card address-card" ng-show="departure.showFrom">
                <a>Departure time: {{departure.dateTimeFrom}}</a>
            </div>
        </div>
        <span class="bar"
              ng-class="{done: (((trip.chosen.length === 2) && (trip.chosen[0] <= $index + 1.5) && (trip.chosen[1] >= $index + 1.5)))}"></span>
        <div class="circle" ng-mouseenter="departure.showTo = true"
             ng-class="{active: (trip.chosen[0] === $index + 2) || (((trip.chosen.length === 2) && (trip.chosen[0] <= $index + 2) && (trip.chosen[1] >= $index + 2)))}"
             ng-mouseleave="departure.showTo = false" ng-click="selectStation(trip, $index + 2)">
            <span class="label">{{$index + 2}}</span>
            <span class="title">{{departure.stationTo}}</span>
            <div class="card address-card" ng-show="departure.showTo">
                <a>Arrival time: {{departure.dateTimeTo}}</a>
                <br/>
                <a ng-show="!$last">Departure time: {{trip.departures[$index + 1].dateTimeFrom}}</a>
            </div>
        </div>
    </span>
</div>