<div class="sidebar sidebar-dark bg-dark">
  <ul class="list-unstyled">
    <li>
      <a routerLink="client/home">
        <i class="fa fa-fw fa-home"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="client/departures">
        <i class="fa fa-fw fa-train"></i> Trips
      </a>
    </li>
    <li>
      <a routerLink="client/find">
        <i class="fa fa-fw fa-train"></i> Find trip
      </a>
    </li>
    <li>
      <a routerLink="client/stations">
        <i class="fa fa-fw fa-link"></i> Stations
      </a>
    </li>
  </ul>
</div>
